#workspace
{
    width: 660px;
    left: 50%;
    margin-left: -330px;
    position: relative;
}

.trimmer-zone
{
    margin: 200px 0 10px 0;
}

.fright
{
    float: right;
}

.hidden
{
    display: none !important;
}

.history-item
{
    padding-bottom: 15px;
    padding-top: 25px;
    border-bottom: 1px solid #ededed;
}

.history-item a, .history-item a:hover
{
    text-decoration: none;
}

.history-item .title-row
{
    line-height: 17px;
    padding-bottom: 15px;
}

.history-item .title-row a
{
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444;
}

.history-item .trimmed-row
{

}

.validation-error
{
    position: fixed;
    top: 120px;
    z-index: 9;
    width: 500px;
    left: 50%;
    margin-left: -250px;
}

.pagination li a
{
    cursor: pointer;
}

.pagination li a.current-page
{
    cursor: inherit;
    color: black;
}