<div ng-if="loading" class="progress progress-striped active">
    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    </div>
</div>

<div>
    <div class="history-item" ng-repeat="item in items">
        <div class="title-row">
            <a href="{{item.SourceUrl}}" title="{{item.SourceUrl}}">{{item.SourceUrl}}</a>
            <span class="fright" title="Created at">{{item.CreatedAt | date: 'dd.MM.yy HH:mm'}}</span>
        </div>
        <div class="trimmed-row">
            <a href="{{item.TrimmedUrl}}">{{item.TrimmedUrl}}</a>
            <button class="btn btn-primary btn-xs" title="Copy to clipboard" ngclipboard data-clipboard-text="{{item.TrimmedUrl}}"><span class=" glyphicon glyphicon-copy"></span></button>
            <span class="fright glyphicon glyphicon-stats" title="Clicks">&nbsp;{{item.Clicks}}</span>
        </div>
    </div>
</div>

<nav>
    <ul ng-if="pages > 1" class="pagination">
        <li>
            <a ng-click="selectPage(1);" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a ng-repeat="p in pagination" ng-click="selectPage(p.Page);">{{p.Page}}</a></li>
        <li>
            <a ng-click="selectPage(pages);" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>